.movies {
   padding: 20px;
   margin: auto;
   background-color: white;
   color: black;
}

 
 h3 {
    text-align: center;
    /* color:white; */
 }

 .center {
    text-align: center;
 }

 a {
    color: purple;
 }

 a:hover{
    color: green;
 }

 li {
    /* color: white; */
 }
 li:hover {
    color:cyan;
    text-decoration: underline;
 }