.movies {
   padding: 20px;
   margin: auto;
   background-color: white;
   color: black;
}

 
 h3 {
    text-align: center;
    /* color:white; */
 }

 .center {
    text-align: center;
 }

 li:hover {
    color:cyan;
    text-decoration: underline;
 }