.movies {
   padding: 20px;
   margin: auto;
}

 
 h3 {
    text-align: center;
    color:white;
 }

 .center {
    text-align: center;
 }

 a {
    color: purple;
 }

 a:hover{
    color: green;
 }

 li {
    color: white;
 }
 li:hover {
    color:green;
    text-decoration: underline;
 }