<!-- so two classes separated by a space calls the rules for both classes -->
<div class='movies col-4'>
   <h3>Movies to Watch</h3>
   <ol>
      <li *ngFor ="let movie of movies">{{movie}}</li>
      
   </ol>
   <input #newMovie (keyup.enter) = 'addMovie(newMovie.value)' type='text' placeholder="Enter Movie Title Here"/> &nbsp;
   <button (click) = "addMovie(newMove.value)">Add</button>
   
   
   <h3>Some other crap no one likes</h3>
   <ol>
      <li *ngFor = "let brand of brands"><a href ="{{brand.url}}">{{brand.name}}</a></li>
     
   </ol>
   <input #newBrand (keyup.enter) = 'true' type='text' placeholder="Enter Brand Title Here"/> &nbsp;
   <input #newBrandUrl (keyup.enter) = 'true' type='text' placeholder="Enter Brand URL Here"/> &nbsp;
   <button (click) = "addBrand(newBrand.value, newBrandUrl.value)">Add</button>
   <hr>

</div>