h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: pink;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style {
   color: yellow;
   text-decoration: underline;
}

li:hover {
   text-decoration: underline;
}