<div class = "links">

    <h3>Links</h3>

    <ol>
        <li *ngFor = "let brand of brands"><a href ="{{brand.url}}">{{brand.name}}</a></li>  
    </ol>

    <input #newBrand type='text' placeholder="Enter Name Here"/> &nbsp; <br />
    <input #newBrandUrl (keyup.enter) = 'addBrand(newBrand.value, newBrandUrl.value); newBrandUrl.value = ""; newBrand.value = ""' type='text' placeholder="Enter URL Here"/> &nbsp;
    
    <button (click) = "addBrand(newBrand.value, newBrandUrl.value)">Add</button>
    
    <hr>

</div>