<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <p *ngIf = "chores.length > finishedChores.length">Work harder</p>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<span *ngIf = "chores.length === 0 || finishedChores.length - 3  >= chores.length; else noAllowance" >
    <img src = {{targetImage}}><p>Allowance Earned</p>
    <hr>
</span>
<span *ngIf = "chores.length === 0 && finishedChores.length >= 4; else noTreat">
    <img src = {{targetImage}}><p>Ice cream treat earned</p>
    <hr>
</span>


<ng-template #noAllowance>
    <p>No Allowance yet. Earn an allowance by completing all of your chores or having 3 more finished chores than remaining chores</p>
    <hr>
</ng-template>

<ng-template #noTreat>
    <p>No ice cream yet. Earn an ice cream treat by having 4 finished chores and no chores.</p>
    <hr>
</ng-template>
